<h1>Welcome! Do You Need Anything?</h1>

<% if logged_in? %>
  <% if @saved_locations.present? %>
    <%= tag.div id: :saved_locations, data: { saved_locations: @saved_locations.to_json() } %>
  <% end %>

  <br>

<% else %>
  <%= button_to "Login", '/login', method: :get %>
  <%= button_to "Sign Up", '/users/new', method: :get %>
<%end%>
