<h1>Welcome Do You Need Anything?</h1>

<% if logged_in? %>
  <h1>You are Logged In, <%= current_user.first_name %></h1>

  <br>
  <%= button_to "Locations", '/locations', method: :get %>

<% else %>
  <%= button_to "Login", '/login', method: :get %>
  <%= button_to "Sign Up", '/users/new', method: :get %>
<%end%>
