<div>
  <header role="banner">
    <div id="skiptocontent">
      <%= link_to "Skip to main content", "#main-content" %>
    </div>
    <div class="nav container">
      <nav role="navigation">
        <ul>
          <li class="home"><a href="/welcome">Home</a></li>
          <li class="locations"><a href="/locations">Locations</a></li>
          <li class="my-orders"><a href="/orders">My Orders</a></li>
          <li class="logout"><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
